%section.pure-u-1.pure-u-lg-3-4.community#community
  %main
    %h2 Community

    %p There are loads of ways to join the community.

    %ul
      %li
        = link_to 'GitHub', 'https://github.com/dailydrip/firestorm'
        = " - Issues and Contributions greatly appreciated"
      %li
        = link_to 'Screencasts', '#screencasts'
        = " - See how it's built"
      %li
        = link_to 'Forum', 'http://forum.firestormforum.org'
        = " - Try it out, talk with us"
      %li
        Join us on the
        = link_to 'Elixir slack', 'https://elixir-slackin.herokuapp.com/'
        %code #firestorm
        channel
