%label.hamburger
  %i.fa.fa-bars
%header.nav-menu-container.pure-u-1.pure-u-lg-1-4
  .nav-menu.pure-u-7-8
    %nav.menu.pure-u-1
      %h1
        = link_to '/' do
          %figure.logo= image_tag image_path("firestorm-logo.png")
      %ul.menu-links
        %li.link= link_to 'Mission', '#mission'
        %li.link
          = link_to 'http://forum.firestormforum.org' do
            Forum
            %i.fa.fa-external-link
        %li.link= link_to 'Community', '#community'
        %li.link= link_to 'Documentation', '#documentation'
        %li.link= link_to 'Screencasts', '#screencasts'
        %li.link= link_to 'Roadmap', '#roadmap'
        %li.link= link_to 'Patrons', '#patrons'
      .social-media
        = link_to 'https://www.dailydrip.com' do
          %i.fa.fa-globe
        = link_to 'http://www.github.com/dailydrip/firestorm' do
          %i.fa.fa-github
        = link_to 'https://www.kickstarter.com/projects/1003377429/firestorm-an-open-source-forum-in-phoenix-from-eli' do
          %i.kickstarter
            .k-bar
            .k-bar-top
            .k-bar-bottom
        = link_to 'http://www.twitter.com/dailydripcom' do
          %i.fa.fa-twitter
      %p.italic-message
        Built with
        %i.fa.fa-heart
        by #{link_to "DailyDrip", "https://www.dailydrip.com"}
  %footer.nav-bottom.pure-u-1
    %p.message
      Firestorm powered by:
    %p.italic-message
      Elixir, Phoenix, Elm, JavaScript

.fade-screen
