%section.pure-u-1.pure-u-lg-3-4.patrons#patrons
	.patrons-container.pure-u-1
		%h2.pure-u-1.head-text
			Our wonderful patrons
		.pure-u-1.patrons.patrons-recipe
			%figure.pure-u-1-2.pure-u-lg-1-3.patron
				= image_tag image_path("patron1.png")
			%figure.pure-u-1-2.pure-u-lg-1-3.patron
				= image_tag image_path("patron2.png")
			%figure.pure-u-1-2.pure-u-lg-1-3.patron
				= image_tag image_path("patron3.png")
			%figure.pure-u-1-2.pure-u-lg-1-3.patron
				= image_tag image_path("patron4.png")
			%figure.pure-u-1-2.pure-u-lg-1-3.patron
				= image_tag image_path("patron5.png")
			%figure.pure-u-1-2.pure-u-lg-1-3.patron
				= image_tag image_path("patron6.png")
			%figure.pure-u-1-2.pure-u-lg-1-3.patron.letter
				= image_tag image_path("patron7.png")
			%figure.pure-u-1-2.pure-u-lg-1-3.patron
				= image_tag image_path("patron8.png")
			%figure.pure-u-1-2.pure-u-lg-1-3.patron
				= image_tag image_path("patron9.png")
			%figure.pure-u-1-2.pure-u-lg-1-3.patron.letter
				= image_tag image_path("patron10.png")
			%figure.pure-u-1-2.pure-u-lg-1-3.patron.letter
				= image_tag image_path("patron11.png")
			%figure.pure-u-1-2.pure-u-lg-1-3.patron.letter
				= image_tag image_path("patron12.png")
			%figure.pure-u-1-2.pure-u-lg-1-3.patron.letter
				= image_tag image_path("patron13.png")
			%figure.pure-u-1-2.pure-u-lg-1-3.patron
				= image_tag image_path("patron14.png")
			%figure.pure-u-1-2.pure-u-lg-1-3.patron
				= image_tag image_path("patron15.png")