%section.pure-u-1.pure-u-lg-3-4.patrons#patrons
  %main
    %h2
      Thanks for making Firestorm possible
    %hr
    %h2
      Patron Saints
    .pure-u-1.patrons-recipe
      - patron_saints.each do |patron_saint|
        %figure.pure-u-1-2.pure-u-lg-1-3.patron
          = link_to patron_saint[:url] do
            = image_tag image_path(patron_saint[:image_file])
          %figcaption
            = link_to patron_saint[:url] do
              = patron_saint[:name]
            %ul.patron-icons
              %li
                = link_to patron_saint[:url] do
                  %i.fa.fa-globe
              - patron_saint[:icons].each do |icon, url|
                %li
                  = link_to url do
                    %i.fa{class: "fa-#{icon}"}
    %h2
      Patrons of Great Fame
    .pure-u-1.patrons-recipe
      %ul
        - patrons_of_great_fame.each do |patron|
          %li
            %strong= patron[0]
            .patron-metadata
              = markdown(patron[1]).html_safe

    %h2
      Patrons
    .pure-u-1.patrons-recipe
      %ul
        - patrons.each do |patron|
          %li
            %strong= patron[0]
            .patron-metadata
              = markdown(patron[1]).html_safe
